<div *ngIf="song" class="container" style="text-align: center;">
    <h2>{{ song[0].title }}</h2>
    <h3>{{ song[0].artist }}</h3>


    <div *ngIf="!song[0].isVideo">
        <img src="{{ song[0].artistImgUrl }}" alt="Artist Image">
        <p><audio controls autoplay src="{{ song[0].link }}"></audio></p>
        <pre class="lyric">{{ song[0].lyric }}</pre>
    </div>

    <div *ngIf="song[0].isVideo">
        <p>
            <video width="680" controls autoplay>
                <source src="{{ song[0].link }}" type="video/mp4">
            </video>
        </p>
    </div>
    <p><button (click)="back()" class="btn btn-primary">Back</button></p>

</div>
