<div style="text-align: center;">
    <div class="row">
        <h1>Muzik</h1>
    </div>
    <br>
    <div class="row col-md-12 text-center">
        <ul class="nav nav-pills center-pills" role="tablist">
          <li [ngClass]="{'active': songsActive}"><a href="#"  (click)="songsPillClicked()">Songs</a></li>
          <li [ngClass]="{'active': playlistsActive}"><a href="#" (click)="playlistsPillClicked()">Playlists</a></li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <input  type="text" placeholder="key words ..." class="form-control" #newquery
            [value]="query"
            (keydown.enter)="submit(newquery.value)">
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-primary" (click)="submit(newquery.value)">search</button>
    </div>
    <br>
    <div class="row">
        <div *ngIf="songs || playlists" style="text-align: center;">
            <br>
            <!-- <div *ngIf="!results.length">
                <div class="alert alert-warning alert-dismissable col-md-4 offset-md-4">
                    No tracks were found with the term '{{ query }}'.<br><strong>Please try again!</strong>
                </div>
            </div> -->
            <div *ngIf="songs.length">
                <div class="row">
                    <div class="container">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Artist(s)</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let song of songs">
                                <tr>
                                    <td><a [routerLink]="['/song', song.link ]">{{ song.title }}</a></td>
                                    <td>{{ song.artist }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
