<div style="text-align: center;">
    <div class="row">
        <h1>Muzik</h1>
    </div>
    <br>
    <div class="row col-md-12 text-center">
        <ul class="nav nav-pills center-pills" role="tablist">
          <li [ngClass]="{'active': songsActive}"><a href="#"  (click)="songsPillClicked()">Songs</a></li>
          <li [ngClass]="{'active': playlistsActive}"><a href="#" (click)="playlistsPillClicked()">Playlists</a></li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <input  type="text" placeholder="key words ..." class="form-control" #newquery
            [value]="query"
            (keydown.enter)="submit(newquery.value)">
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-primary" (click)="submit(newquery.value)">search</button>
    </div>
</div>
