body {
    background: white;
    color: lightblue;
    p {
        font-size: 50px;
    }
}

nav {
    text-align: center;
    i {
        margin: 10px;
        color: #2980b9;
    }
}

// input.form-control {
//     width: 50%;
// }
