body {
    background: white;
    color: lightblue;
    p {
        font-size: 50px;
    }
}

nav {
    text-align: center;
    i {
        margin: 10px;
        color: #2980b9;
    }
}

input {
    margin-top: 5px;
}

th {
    color: #7f8c8d;    
}

td {
    text-align: left;
    color: #27ae60;
}

.center-pills {
    display: flex;
    justify-content: center;
}

// .nav-pills > li > a {
//     background: #1abc9c;
// }
