@font-face {
    font-family: 'Sketch_Block';
    src: url('../fonts/sketch-block/Sketch_Block.ttf');
}

@font-face {
    font-family: 'Anson-Regular-Webfont';
    src: url('../fonts/anson-font/Anson-Regular-Webfont.ttf');
}

@font-face {
    font-family: 'Nevis';
    src: url('../fonts/nevis/Nevis.ttf');
}

@font-face {
    font-family: 'Futura_Book';
    src: url('../fonts/futura/Futura_Book.ttf');
}

body {
    font-family: 'Sketch_Block';
    font-weight: 600;
    background: white;
    color: lightblue;
    p {
        font-size: 50px;
    }
}

nav {
    text-align: center;
    i {
        margin: 10px;
        color: #2980b9;
    }
}

input {
    margin-top: 5px;
}

th {
    color: #7f8c8d;
}

td {
    text-align: left;
    color: #27ae60;
}


a:link {
    text-decoration: none;
}

.lyric {
    font-family: 'Futura_Book';
    font-size: 20px;
    color: black;
}
.center-pills {
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    height: auto;
}
// .m {
//     color: #c0392b;
// }
// .u {
//     color: #2ecc71;
// }
// .z {
//     color: #f1c40f;
// }
// .i {
//     color: #3498db;
// }
// .k {
//     color: #9b59b6;
// }
h1.main-brand {
    font-size: 75px;
    text-shadow: 3px 3px 5px;
}

.songDisplay {
    h2 {
        font-family: 'Nevis';
        color: #27ae60;
    }

    h3 {
        font-family: 'Anson-Regular-Webfont';
        color: #d35400;
    }
}
